body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Courier New', monospace;
}

button {
    cursor: pointer; 
    padding: 0;
    border-width: 7px;
    border-color: white;
    margin: 20px;
    transition: transform 0.3s;
}

button:hover {
    transform: scale(1.1, 1.1);
}

.play-again-button {
    padding: 10px;
    transition-duration: 0s;
}

.play-again-button:hover {
    background-color: black;
    color: white;
}

.hide {
    visibility: hidden;
}

img {
    width: 220px;
    height: 200px;
}

h1 {
    font-size: 5em;
    margin: 40px 0;
}

#results, #score {
    margin: 10px;
}